
* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
}
.about_us {
  top: 0;
  border-top: rgb(57, 56, 56) 2px solid;
  position: relative;
  height: 200vh;
  overflow: hidden;
  width: 100vw;
  z-index: 1;
  box-sizing: border-box;
  background: linear-gradient(
    45deg,
    #dbd7d78f,
    #605f5f43,
    #d9d9d9,
    #d9d9d9,
    #f5f1f143,
    #605f5f43,
    #b1afaf,
    #e8e8e8,
    #ecebeb,
    #eae9e9,
    #31303043
  );
}
.aboutBut {
  position: relative;
  top: 4vh;
  font-size: 2vw;
  width: 12vw;
  border: 1px solid black;
  border-radius: 10px 11px 0px 10px;
  height: 3vw;
  background-clip: content-box;
  background-color: rgba(255, 255, 255, 0.248);
  font-weight: 100;
  left: 2vw;
  font-family: "poppins", sans-serif;
  cursor: pointer;
}
.abouttext1 {
  height: 20vw;
  width: 30vw;
  margin: 2vh;
  text-wrap: nowrap;
  margin-top: 7vh;
}
.abouttext1 h1 {
  font-size: 4vw;
  font-family: "poppins";
  font-weight: 200;
  margin-left: 1vw;
}
.text2 {
  margin-top: 3vh;
  text-wrap: wrap;
  width: 55vw;
}
.text2 p {
  font-size: 1.5vw;
  font-family: "poppins";
  font-weight: 100;
  color: #4c4c4c;
}
.line {
  background-color: rgb(71, 70, 70);
  width: 55vw;
  height: 1px;
  margin-top: 10vh;
  position: relative;
}
.lineicon {
  top: -1.6vw;
  position: relative;
  left: 50vw;
}
.lineicon i {
  font-size: 2vw;
  width: 2.5vw;
  padding-top: 5px;
  margin-right: 0.5vw;
  height: 2.5vw;
  text-align: center;
  border: solid rgb(71, 70, 70) 1px;
  color: rgb(71, 70, 70);
  border-radius: 50% 50%;
  background-color: #c3c3c3;
}
.text2 p {
  font-size: 1.5vw;
  font-family: "poppins";
  font-weight: 100;
  color: #4c4c4c;
}
.text3 {
  width: 25vw;
  height: 15vw;
  text-wrap: wrap;
}
.lineBelwText {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  width: 60vw;
  height: 35vh;
}
.text3 :nth-child(2) {
  font-size: 1.5vw;
  font-family: "poppins";
  font-weight: 600;
  color: #000000;
}
.text3 :nth-child(3) {
  margin-top: 3vh;
  font-size: 1.3vw;
  font-family: "poppins";
  font-weight: 300;
  color: #000000;
}
.text3 i {
  color: rgb(215, 57, 0);
  font-size: 2.5vw;
  margin-bottom: 1vh;
  text-align: center;
  margin-left: 2vw;
}
.aboutimg {
  height: 90vh;
  width: 35vw;
  background: linear-gradient(
    45deg,
    black,
    rgb(10, 10, 10),
    black,
    rgb(10, 10, 10),
    black,
    rgb(10, 10, 10),
    black,
    rgb(10, 10, 10),
    black,
    rgb(10, 10, 10),
    black,
    rgb(10, 10, 10),
    black,
    rgb(10, 10, 10),
    black,
    rgb(10, 10, 10),
    rgb(243, 10, 10),
    rgb(39, 39, 39),
    rgb(2, 2, 2)
  );
  position: relative;
  left: 60vw;
  border-radius: 60px 60px 60px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  top: -50vh;
}
.aboutimg img {
  filter: drop-shadow(3px 6px 10px rgba(4, 255, 205, 0.862));
  margin-top: 20vh;
  width: 30vw;
  border: 2px;
}
.aboutimg p {
  color: rgb(255, 255, 255);
  top: 0vh;
  position: absolute;
  z-index: 12;
  font-size: 7vw;
  font-weight: 400;
  letter-spacing: 0.3vw;
  font-family: "Miss Fajardose", cursive;
}
.aboutimg img:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  cursor: pointer;
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.left {
  position: relative;
  left: 40vw;
}
.aboutsection2 {
  position: relative;
  align-items: stretch;
  top: -45vh;
}
.leftImg {
  position: relative;
  left: 2vw;
}
.rating {
  width: 100vw;
  height: 110vh;
  background: linear-gradient(
    45deg,
    #dbd7d78f,
    #605f5f43,
    #d9d9d9,
    #d9d9d9,
    #f5f1f143,
    #605f5f43,
    #b1afaf,
    #e8e8e8,
    #ecebeb,
    #eae9e9,
    #31303043
  );
  /* border-top:rgb(57, 56, 56) 3px solid; */
}
.hedderSection {
  width: 100vw;
  height: 30vh;
  overflow-x: hidden;
  position: relative;
  right: 2vw;
  display: flex;
  justify-content: space-between;
  top: 12vh;
  /* background-color: #000000; */
}
.logbut {
  position: relative;
  top: 0;
}
.hedderText {
  font-size: 3vw;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  margin-left: 10vw;
}
.hedderText p {
  margin-bottom: 1vw;
}
.hedderText p {
  margin-bottom: 1vw;
}
.hedderSection pre {
  font-size: 1.3vw;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  text-align: end;
  color: rgb(49, 49, 49);
}
.videosection {
  margin-left: 2vw;
  margin-top: 7vh;
  height: 28vw;
  display: flex;
  gap: 4vw;
  align-items: center;
}
.video {
  height: 100%;
  border-radius: 20px;
  position: relative;
  border-top-right-radius: 5vw;
}
.video img {
  border-top-right-radius: 2vw;
  height: 60vh;
  width: 16vw;
  border-radius: 1vw;
}
.controlbut {
  position: absolute;
  color: transparent;
  width: 5vw;
  height: 3vw;
  top: 0;
  color: white;
  right: 0.19vw;
  border: none;
  background-color: #dcdcdc;
  border-radius: 30vw;
}
.uplodeReview {
  height: 3vw;
  width: 12vw;
  font-size: 1.4vw;
  font-family: "poppins", "sans-serif";
  /* background-color: rgb(248, 216, 216); */
  background: linear-gradient(45deg, rgb(255, 206, 206), rgb(244, 67, 67));
  border: #eea0a0 1px solid;
  border-radius: 5px;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.877),
    inset -1px -1px 4px rgba(0, 0, 0, 0.877),
    1px 1px 4px rgba(53, 53, 53, 0.877), 1px 1px 4px rgba(53, 53, 53, 0.877);
}
.uplodeReview:active {
  box-shadow: inset 1px 2px 4px rgba(53, 53, 53, 0.877),
    inset -1px -2px 4px rgba(53, 53, 53, 0.877),
    1px 1px 4px rgba(53, 53, 53, 0.877), 1px 1px 4px rgba(53, 53, 53, 0.877);
}
.video p {
  position: relative;
  color: black;
  bottom: 13vh;
  left: 1vw;
  font-size: 2.5vw;
  font-family: "Poppins", "sans-serif";
}
footer table th,
tr,
td {
  padding: 2px;
  text-align: start;
  height: 7vh;
  width: 10vw;
  padding: 0.2vw;
  font-family: "poppins", "sans-serif";
  font-size: 1.3vw;
  cursor: pointer;
  text-transform: uppercase;
}
footer table th,
td {
  padding-left: 1.2vw;
}
.footermain {
  width: 100vw;
  height: 75vh;
  position: relative;
  background: linear-gradient(
    -45deg,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938,
    black,
    #3d3938
  );
  overflow: hidden;
  color: white;
  top: 0;
}
.leftRight {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
}
.right {
  width: 45vw;
  height: 60vh;

  margin-right: 5vw;
  border-bottom: 1px solid rgb(145, 145, 145);
}
.right p{
  color: rgb(156, 156, 156);
  position: relative;
  left:10vw;
  bottom: -12vh;
  cursor: pointer;
  font-size: 1.7vw;
}
.leftfooter {
  border-right: 1px solid rgb(145, 145, 145);
  width: 46.9vw;
  height: 60vh;
  margin-left:3vw ;
  border-bottom: 1px solid rgb(144, 144, 144);
}
.leftText{
  font-size: 5vw;
  font-family: sans-serif;
  margin-bottom: 6vh;
}
.downText{
  font-size: 2vw;
  width: 40vw;
}
.fotternav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2vh;
}
.socilLink{
  border: solid white 1px;
  width: 13vw;
  height: 2vw;
  border-radius: 5vw;
  text-align: center;
  padding:0.5vw ;
  cursor: pointer;
}
.singh{
  margin-top: 5vh;
  margin-left: 5vw;
  font-size: 5vw;
  font-family: "Miss Fajardose", cursive;
  cursor: pointer;
  color: rgb(250, 146, 163);
}
i:hover{
  transform: scale(1.2);
  color:rgb(3, 3, 255);
}